@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes drop {
    from {
        transform: translateX(30%);
        width: 75%;
    }

    to {
        transform: translateX(0);
        width: 100%;
    }
}

#edu1,
#edu2,
#edu3 {
    animation: drop 500ms ease-in-out;
}


#education,
#experience,
#skills,
#projects {
    overflow-y: scroll;
}

#title {
    animation: drop 500ms ease-in-out;
    font-family: 'Kanit', sans-serif;
}

#progress {
    background: rgb(0, 212, 255);
    background: linear-gradient(90deg, rgba(0, 212, 255, 1) 19%, rgba(9, 9, 121, 1) 54%, rgba(2, 0, 36, 1) 87%);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    border: 2px solid rgba(9, 9, 121, 0);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    background: url("https://wallpaperaccess.com/full/2028632.jpg") repeat;
}

@layer base {
    html {
        font-family: 'Lato', sans-serif;
    }
}

#sidebar {
    font-family: 'Roboto Slab', serif;
}

nav {
    float: right;
    background-color: red;
}

#side-li-1:hover,
#side-li-2:hover,
#side-li-3:hover,
#side-li-4:hover,
#side-li-5:hover {
    font-size: 20px;
    transition: 300ms;
}


@media all and (min-width : 770px) {

    #side-li-1,
    #side-li-2,
    #side-li-3,
    #side-li-4,
    #side-li-5 {
        -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
    }
}

@media all and (max-width : 1040px) {
    #main-container {
        max-height: 720px;
    }
}

@media all and (max-width : 796px) {
    #main-container {
        max-height: 750px;
    }
}
